source https://nuget.org/api/v2
storage: none

nuget FSharp.Core  redirects:force, content:none
nuget Fable.Core
nuget Fable.Import.Browser
nuget Fable.PowerPack
nuget fable.elmish 3.0.0-beta-2 beta

group Build
framework: net46

    source https://nuget.org/api/v2
    nuget FSharp.Core  redirects:force, content:none
    nuget FAKE
    nuget FSharp.Formatting

    github fsharp/FAKE modules/Octokit/Octokit.fsx